.layout-nav {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.layout-nav-item {
    cursor: pointer;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: #323232;
    color: white;
    border-radius: 5px 5px 0px 0px;
    margin-right: 7px;
    border-top: 1px solid #323232;
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}

.layout-nav-item.active {
    background-color: #2196f3;
    color: black;
}

.layout-item {
    padding: 100px;
    padding-top: 10px;
    background-color: #2196f3;
    border-top: 1px solid #323232;
    border-left: 1px solid #323232;
    margin-top: -1px;
}
.layout-item:not(.active) {
    display: none;
}