body {
    font-family: system-ui;
    font-weight: 200;
    padding: 10px;
    padding-top: 30px;
    background: #9a9a9a;
}

@media (min-width: 1080px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.title {
    display: block;
    font-size: 2em;
    padding: 5px;
    margin-top: 0px;
    font-weight: 200;
    text-align: end;
    padding-right: 20px;
    right: 0px;
    border-radius: 1em 0px 0px 0px;
}

img, object {
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 6px 0px black;
    border-radius: 5px;
}

object {
    background-color: white;
    min-height: 520px;
    width: 100%;
    overflow-x: hidden;
    padding-left: calc(50% - 260px);
}

img[src=""], object[data=""] {
    display: none;
}

.comp-settings {
    padding: 20px;
    box-shadow: inset 0px 0px 4px 0px black;
    text-align: center;
    margin: 15px;
    background: #ffc107;
}

select, button {
    padding: 3px;
}

button {
    margin-top: 10px;
}

input.sellect-element {
    width: calc(100% - 10px);
    background-color: white;
    border: 1px solid #00000077;
    margin: 5px;
}
.sellect-container {
    background: #00000045;
    border: 1px solid black;
    margin-bottom: 10px;
}